<!--TODO: Doc this-->
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Intranet Login</title>
    </head>
    <body>
        <form method="POST">
            <div class="wrapper">
                <h1>Company Intranet Login</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username" name="username" required>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" name="password" required>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="register-link">
                        <p>Don't have an account? <a href="#">Register</a></p>
                    </div>
            </div>
        </form>
        {% if user_bool == False or pass_bool == False %}
        <div class="error">
            <p>Username or Password Incorrect</p>
        </div>
        {% endif %}
    </body>
</html>
