<!--TODO: Doc this-->
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Intranet Login</title>
    </head>
    <body>
        <form method="POST">
            <div class="wrapper">
                <h1>Company Intranet Login</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username" name="username" required>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" name="password" required>
                    </div>
                    {% if attempts < 3 %}
                    <button type="submit" class="btn">Login</button>
                    {% endif %}
                    {% if attempts >= 3%}
                    <div class="too-many-attempts">
                        <p>Too Many Attempts</p>
                        <p>LOCKED OUT</p>
                    </div>
                    {% endif %}
                    <div class="register-link">
                        <p>Don't have an account? <a href="/register?attempts={{ attempts }}">Register</a></p>
                    </div>
                    <div class="password-generator">
                        <p>Create strong password? <a href="/?create_pass=True">Create</a></p>
                    </div>
                    {% if create_pass == True %}
                    <div class="strong-pass">
                        <p>{{ password }}</p>
                    </div>
                    {% endif %}
                    {% if incorrect == True %}
                    <div class="error">
                        <p>Username or Password Incorrect</p>
                    </div>
                    {% endif %}
            </div>
        </form>
    </body>
</html>
