<!--TODO: Doc this-->
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Intranet Menu</title>
    </head>
    <body>
        <!-- Displays the correct set of buttons based on access type
        NONE: Time Reporting and Exit
        LIMITED: NONE options, Accounting, and Projects
        ADMIN: LIMITED options, Product Performance, and Employee Management -->
        <div class="wrapper">
            <h1  class="accepted_title">Welcome!</h1>
            <button type="button" class="menu-btn" onclick="window.location.href = '/accepted_choice'">Time Reporting</button>
            {% if access_type == "limited" %}
            <button type="button" class="menu-btn" onclick="window.location.href = '/accepted_choice'">Accounting</button>
            <button type="button" class="menu-btn" onclick="window.location.href = '/accepted_choice'">Projects</button>
            {% endif %}
            {% if access_type == "admin" %}
            <button type="button" class="menu-btn" onclick="window.location.href = '/accepted_choice'">Product Performance</button>
            <button type="button" class="menu-btn" onclick="window.location.href = '/accepted_choice'">Employee Management</button>
            <button type="button" class="menu-btn" onclick="window.location.href = '/accepted_choice'">Accounting</button>
            <button type="button" class="menu-btn" onclick="window.location.href = '/accepted_choice'">Projects</button>
            {% endif %}
            <button type="button" class="menu-btn" onclick="window.location.href = '/'">Exit</button>
        </div>
    </body>
</html>