<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Register Account</title>
    </head>
    <body>
        <form method="POST">
            <div class="wrapper">
                <!-- Displays Create Account header, username and password input boxes, create strong password, submit
                new information button, and return to login page button by default -->
                <h1>Create Account</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username" name="username" required>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" name="password" required>
                    </div>
                    <button type="submit" class="btn">Register</button>
                    <button type="button" class="menu-btn" onclick="window.location.href = '/'">Return to Login</button>
                    <div class="password-generator">
                        <p>Create strong password? <a href="/register?create_pass=True">Create</a></p>
                    </div>
                    <!-- Displays strong password if user wants a strong password -->
                    {% if create_pass == True %}
                    <div class="strong-pass">
                        <p>{{ password }}</p>
                    </div>
                    {% endif %}
                    <!-- Displays full list of required password characteristics if invalid password entered -->
                    {% if invalid_pass == True %}
                    <div class="error">
                        <p>Invalid Password</p>
                        <p>Password Needs: </p>
                        <ul>
                            <li>Min: 8 Chars</li>
                            <li>Max: 25 Chars</li>
                            <li>At Least One: Number</li>
                            <li>At Least One: Lowercase Letter</li>
                            <li>At Least One: Uppercase Letter</li>
                            <li>At Least One: Special Character</li>
                        </ul>
                    </div>
                    {% endif %}
                    <!-- If username is taken, display error message -->
                    {% if invalid_user == True %}
                    <div class="error">
                        <p>Username Taken</p>
                    </div>
                    {% endif %}
                    <!-- If username is not taken, display account registered message -->
                    {% if invalid_user == False %}
                    <div class="success">
                        <p>Registered!</p>
                    </div>
                    {% endif %}
            </div>
        </form>
    </body>
</html>